@model BuyOnline.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center page-header" style="background-color:black; color:white; padding:10px;">Details</h2>



<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            <img src="~/Images/Products/@Html.DisplayFor(model => model.ProductImage)" style="width:60px; height:80px;" class="thumbnail" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ProductPrice)*@
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice) LE
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back To Products", "AllProductsBySeller", null , new { @class = "btn btn-warning" })
</p>
