@using Microsoft.AspNet.Identity
@using BuyOnline.Models


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var db = new ApplicationDbContext();
        var userId = User.Identity.GetUserId();
        var currentUser = db.Users.Where(a => a.Id == userId).SingleOrDefault();


        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong>Welcome @currentUser.UserName</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-user">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        <strong>@currentUser.UserName</strong>
                                    </p>
                                    <p>
                                        <strong>@currentUser.Email</strong>
                                    </p>
                                    @if (currentUser.UserType == "Admins")
                                    {
                                        <a href="~/Role/Sellers" class="btn btn-block btn-primary">Sellers</a>
                                        <a href="~/Role/Customers" class="btn btn-block btn-primary">Customers</a>
                                        <a href="~/Role/Admins" class="btn btn-block btn-primary">Admins</a>
                                        <a href="~/Product/Index" class="btn btn-block btn-primary">Products</a>
                                        <a href="~/Category/Index" class="btn btn-block btn-primary">Categories</a>
                                        <a href="~/Category/Create" class="btn btn-block btn-primary">Add New Category</a>
                                        <a href="~/Role/Index" class="btn btn-block btn-primary">Roles</a>
                                    }
                                    else if (currentUser.UserType == "Seller")
                                    {
                                        <a href="~/Product/Create" class="btn btn-block btn-primary">New product</a>
                                        <a href="~/Product/AllProductsBySeller" class="btn btn-block btn-primary">All My products</a>
                                        <a href="~/Product/PendingOrders" class="btn btn-block btn-primary">Pending Orders</a>
                                        <a href="~/RecievedProduct/RecievedForSeller" class="btn btn-block btn-primary">Recieved Orders</a>
                                        <a href="~/Role/SellerCustomers" class="btn btn-block btn-primary">My Customers</a>
                                        @*<a href="~/Category/Index" class="btn btn-block btn-primary">Categories</a>*@
                                    }
                                    else
                                    {
                                        <a href="~/BuyProduct/MyCart" class="btn btn-block btn-primary">My Cart</a>
                                        <a href="~/BuyProduct/MyOrders" class="btn btn-block btn-primary">My Orders</a>
                                        <a href="~/RecievedProduct/RecievedForCustomer" class="btn btn-block btn-primary">Recieved Orders</a>
                                        <a href="~/Home/Index" class="btn btn-block btn-primary">All products</a>
                                    }
                                    <a href="~/Account/EditProfile" class="btn btn-success btn-block">Manage your account</a>

                                </div>
                                <div class="col-lg-4">
                                    <p>
                                        <span class="glyphicon glyphicon-user img-size"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-block btn-danger">Log Out</a>
                                </p>
                            </div>

                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
