@model IEnumerable<BuyOnline.Models.Product>

@{
    ViewBag.Title = "Search";
}



<div class="panel panel-group ">
    <div class="row">
        <h2 class="panel-heading text-center" style="background-color:black; color:white;">Result Search</h2>
    <hr />
    </div>
         <div class="row">
        @foreach (var item in Model)
        {<div class="col-md-3 thumbnail" style="margin-bottom:20px;">
            <img src="~/Images/Products/@Html.DisplayFor(modelItem => item.ProductImage)" style="height:340px;" />
            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
            <h5>@Html.DisplayFor(modelItem => item.ProductDescription)</h5>
            <h3>Price : @Html.DisplayFor(modelItem => item.ProductPrice) LE</h3>
             @Html.ActionLink("Details", "Details","BuyProduct", new { id = item.ProductId }, new { @class = "btn btn-primary" })
             @Html.ActionLink("Buy Now", "BuyProduct","BuyProduct", new { id = item.ProductId }, new { @class = "btn btn-success" })






        </div>
        }
    </div>


</div>

<hr />
<div class="row">
    @Html.ActionLink("Back To Home", "Index",null ,  new { @class = "btn btn-warning" })


</div>